html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .content {
    flex: 1; /* Esto permite que el contenido ocupe el espacio restante */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  