.custom-navbar {
    background-color: #006666;
    color: white;
}

.custom-text {
    color: white; /* Cambia a tu color preferido */
}


.close-button-container {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .close-button-text {
    color: white;
    margin-right: 5px;
  }
  